In [1]:
#recursion
def countdown(n):
    if n <= 0:
        print('We have lifr off!')
    else:
        print(n)
        countdown(n-1)
countdown(10)

10
9
8
7
6
5
4
3
2
1
We have lifr off!

In [2]:
#while loop
def collatz(n):
    while n != 1:
        print(n)
        if n%2 == 0:
            n = n/2
        else:
            n = 3*n+1
collatz(20)

20
10.0
5.0
16.0
8.0
4.0
2.0

In [3]:
#exit the loop
#break
a = 4
x = 3.5
epsilon = 10**-6
while True:
    print(x)
    y = (x + a/x)/2
    if abs(x-y) < epsilon:
        break
    x=y

3.5
2.321428571428571
2.022252747252747
2.000122433944265
2.0000000037472883

In [4]:
#string
animal = 'goat'
letter = animal[1]
letter

'o'

In [5]:
animal[3]

't'

In [6]:
len(animal)

4

In [7]:
#counting from the end
animal[-1]

't'

In [8]:
animal[-3]

'o'

In [9]:
i = 0
while i <len(animal):
    print(animal[i])
    i +=1

g
o
a
t

In [10]:
for c in animal:
    print(c)

g
o
a
t

In [11]:
#range
#picks out the m-th character to the n-th character including m but not n
s = 'And now for something completely different'
s[0:7]

'And now'

In [12]:
s[12:21]

'something'

In [13]:
s[12:22]

'something '

In [14]:
s[12:12]

''

In [15]:
s[:]

'And now for something completely different'

In [16]:
s[:21]

'And now for something'

In [17]:
s[22:]

'completely different'

In [18]:
s[-20:-10]

'completely'

In [20]:
#immutability
mystr = 'goat'
mystr[0] = 'b'

TypeError: 'str' object does not support item assignment

In [24]:
mystr = 'goat'
mystr = 'b' + mystr[1:]
mystr

'boat'

In [25]:
#string tracersal
def count(word, letter):
    cnt = 0
    for c in word:
        if c == letter:
            cnt += 1
    return cnt

In [26]:
count('banana','a')

3

In [21]:
count('banana','z')

NameError: name 'count' is not defined

In [27]:
#methods
mystr = 'goat'
mystr.upper()

'GOAT'

In [28]:
'aBCDefG'.lower()

'abcdefg'

In [29]:
#finds the index of the first location of the string sub in str
'banana'.find('na')

2

In [30]:
'goat'.startswith('go')

True

In [31]:
'banana'.find('a')

1

In [32]:
#find a starts from position 3 of 'banana'
'banana'.find('a',3)

3

In [33]:
'banana'.find('na',3)

4

In [34]:
#not to search pass position 4, if dont find, returns -1
'banana'.find('na',3, 4)

-1

In [35]:
'banana'.find('na',3, 6)

4

In [36]:
'a' in 'banana'

True

In [37]:
'z' in 'banana'

False

In [38]:
'cat' < 'dog'

True

In [39]:
'cat' >= 'dog'

False

In [40]:
'dok' >= 'dog'

True

In [41]:
'' < 'goat'

True

In [42]:
'1' < 'a'

True

In [43]:
'Cat' == 'cat'

False

In [44]:
'cat' > 'Cat'#lower case comes after upper case

True

In [45]:
#list
fruits = ['apple', 'orange', 'banana', 'kiwi']
mixed = ['one', 2, 3.0]
pythagoras = [[3,4,5], [5,12,13], [8,15,17]]

In [46]:
x = []
x

[]

In [47]:
x = list()
x

[]

In [48]:
#list can be changed
fruits

['apple', 'orange', 'banana', 'kiwi']

In [49]:
fruits[-1] = 'mango'
fruits

['apple', 'orange', 'banana', 'mango']

In [50]:
len(fruits)

4

In [51]:
'apple' in fruits

True

In [52]:
'grage' in fruits

False

In [53]:
['apple', 'orange'] in fruits

False

In [54]:
[3,4,5] in pythagoras

True

In [55]:
#list travelsal
for f in fruits:
    print(f)

apple
orange
banana
mango

In [56]:
numbers = range(5)
for n in numbers:
    print(2**n)

1
2
4
8
16

In [57]:
for i in range(len(fruits)):
    fruits[i] = fruits[i].upper()

for f in fruits:
    print(f)

APPLE
ORANGE
BANANA
MANGO

In [58]:
for i in range(len(fruits)):
    fruits[i] = fruits[i].upper()
    print(fruits[i])

APPLE
ORANGE
BANANA
MANGO

In [59]:
#List: concatenation
fibonacci = [0,1,1,2,3,5,8]
primes = [2,3,5,7,11,13]
fibonacci + primes

[0, 1, 1, 2, 3, 5, 8, 2, 3, 5, 7, 11, 13]

In [60]:
3*['cat','dog']

['cat', 'dog', 'cat', 'dog', 'cat', 'dog']

In [61]:
A = [[1,2],[3,4],[5,6]]
A[0]

[1, 2]

In [62]:
A[0][0]

1

In [63]:
#List: slices
animals = ['cat', 'dog', 'goat', 'bird', 'llama']
animals[1:3]

['dog', 'goat']

In [64]:
animals[3:]

['bird', 'llama']

In [65]:
'''
list.append(x): adds x to the end of the list
list.extend(L2): adds list L2 to the end of another list
list.sort(): sort the elements of the list
list.remove(x): removes from the list the first element equal to x
list.pop(): removes the last element of the list and returns that element
'''

'\nlist.append(x): adds x to the end of the list\nlist.extend(L2): adds list L2 to the end of another list\nlist.sort(): sort the elements of the list\nlist.remove(x): removes from the list the first element equal to x\nlist.pop(): removes the last element of the list and returns that element\n'

In [66]:
animals.append('unicorn')
animals

['cat', 'dog', 'goat', 'bird', 'llama', 'unicorn']

In [67]:
fibonacci.append([13,21])
fibonacci

[0, 1, 1, 2, 3, 5, 8, [13, 21]]

In [68]:
fibonacci.extend([34,55])
fibonacci

[0, 1, 1, 2, 3, 5, 8, [13, 21], 34, 55]

In [69]:
fibonacci.append(13,21)

TypeError: list.append() takes exactly one argument (2 given)

In [70]:
animals.sort()
animals

['bird', 'cat', 'dog', 'goat', 'llama', 'unicorn']

In [74]:
mixed = [1, 'two', 3.0, [4,5]]
mixed.sort()
mixed

TypeError: '<' not supported between instances of 'str' and 'int'

In [76]:
#sorted gives back a new string
animals = ['cat', 'dog', 'goat','bird']
sorted_animals = sorted(animals)
sorted_animals

['bird', 'cat', 'dog', 'goat']

In [77]:
animals

['cat', 'dog', 'goat', 'bird']

In [78]:
#pop
animals.pop()

'bird'

In [79]:
animals

['cat', 'dog', 'goat']

In [80]:
fibonacci = [0,1,1,2,3,5,8]
fibonacci.pop(3)

2

In [81]:
fibonacci

[0, 1, 1, 3, 5, 8]

In [82]:
#remove
animals = ['cat', 'dog', 'goat','bird']
animals.remove('cat')
animals

['dog', 'goat', 'bird']

In [83]:
numbers = [0,1,2,3,1,2,3,2,3]
numbers.remove(2)
numbers

[0, 1, 3, 1, 2, 3, 2, 3]

In [84]:
numbers.remove(4)
#the list numbers does not contain 4

ValueError: list.remove(x): x not in list

In [85]:
def square_all(t):
    res = []
    for elmt in t:
        res.append(elmt**2)
    return res

square_all(range(10))

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [86]:
fibonacci = [0,1,1,2,3,5,8,13,21]
square_all(fibonacci)

[0, 1, 1, 4, 9, 25, 64, 169, 441]

In [87]:
fibonacci

[0, 1, 1, 2, 3, 5, 8, 13, 21]

In [88]:
#Map operation
zero2nine = range(10)
[x**2 for x in zero2nine]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [89]:
animals = ['cat','dog','goat','bird']
[s.upper() for s in animals]

['CAT', 'DOG', 'GOAT', 'BIRD']

In [90]:
#filter, 
def remove_even(t):
    res = []
    for elmt in t:
        if elmt%2 ==0:
            continue
        else:
            res.append(elmt)
    return res

remove_even(range(10))

[1, 3, 5, 7, 9]

In [91]:
remove_even(fibonacci)

[1, 1, 3, 5, 13, 21]

In [92]:
fibonacci

[0, 1, 1, 2, 3, 5, 8, 13, 21]

In [93]:
#filter, takes a list return subset of the original list
fibonacci = [0,1,1,2,3,5,8,13,21]
[x for x in fibonacci if x % 2 ==1]
# create a new list containing x if x%2 ==1

[1, 1, 3, 5, 13, 21]

In [94]:
animals = ['cat', 'dog', 'goat','bird']
[x.upper() for x in animals if 'o' in x[1]]
# create a new list containg x if x contains 'o' in the first position, then upper case x

['DOG', 'GOAT']

In [95]:
[x for s in animals if len(x) == 5]

[]

In [96]:
#list and strings
goatstr = 'goat'
goatlist = list(goatstr)
goatlist

['g', 'o', 'a', 't']

In [97]:
goatstr

'goat'

In [98]:
#split, return a new list of string where you split the ori everytime the specify character occur
wittgenstein = 'Die Welt ist alles was der Fall ist.'
t = wittgenstein.split(' ')
t

['Die', 'Welt', 'ist', 'alles', 'was', 'der', 'Fall', 'ist.']

In [103]:
t[1]

'Welt'

In [104]:
delim = ' '
delim.join(t)

'Die Welt ist alles was der Fall ist.'

In [105]:
a = 'unicorn'
b = 'unicorn'

In [106]:
a == b #whether equivalent, pointing to diff things that have the same content

True

In [107]:
a is b #whether identical, pointing to same thing

True

In [108]:
a = [1,2,3]
b = [1,2,3]
a == b

True

In [109]:
a is b
#string is immuatble, but not list

False

In [112]:
a = [1,2,3]
b = a
a is b

True

In [114]:
a = [1,2,3]
b = a
a[-1] = 42
b

[1, 2, 42]

In [115]:
a[-1]

42

In [116]:
#pass by reference vs pass by value

#pass by reference
def make_end_42(t):
    #change the last element of list t to 42
    t[-1] = 42

a = [1,2,3]
make_end_42(a)
a

[1, 2, 42]

In [117]:
def wrong_make_end_42(t):
    #change the last element of list t to 42 incorrectly
    t = t[:-1] #create a ref to new list, t now points to new list, but has no effect for what a points to
    t.append(42)

a = [1,2,3]
wrong_make_end_42(a)
a

[1, 2, 3]

In [119]:
#dictionaries (and tuples)
umid2name = dict()
umid2name['aeinstein'] = 'Albert Einstein'
umid2name['kyfan'] = 'Ky Fan'
umid2name['enoether'] = 'Emily Noether'
umid2name['cshannon'] = "Claude Shannon"

In [120]:
umid2name['cshannon']

'Claude Shannon'

In [121]:
umid2name['enoether'] = 'Amalie Enny Noether'

In [122]:
umid2name['enoether']

'Amalie Enny Noether'

In [123]:
umid2name

{'aeinstein': 'Albert Einstein',
 'kyfan': 'Ky Fan',
 'enoether': 'Amalie Enny Noether',
 'cshannon': 'Claude Shannon'}

In [124]:
#dictionary no orders
umid2name = {
    'aeinstein' : 'Albert Einstein',
    'kyfan' : 'Ky Fan',
    'enoether' : 'Emily Noether',
    'cshannon' : "Claude Shannon"
}

In [125]:
umid2name['kyfan']

'Ky Fan'

In [126]:
len(umid2name)

4

In [128]:
umid2name

{'aeinstein': 'Albert Einstein',
 'kyfan': 'Ky Fan',
 'enoether': 'Emily Noether',
 'cshannon': 'Claude Shannon'}

In [129]:
#check if the key in the dict
'akolmogorov' in umid2name

False

In [130]:
'enoether' in umid2name

True

In [132]:
#dict make look up fast
from random import randint
listlen = 1000000
list_of_numbers = listlen*[0]
dict_of_numbers = dict()
for i in range(listlen):
    n = randint(1000000,9999999)
    list_of_numbers[i] = n
    dict_of_numbers[n] = 1